# NicknamesCSV Modification

In [30]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Load file
nicknames_data_loading = Path("nicknames.csv")

# Read file
nicknames_data = pd.read_csv(nicknames_data_loading)

# Show file

nicknames_data.head()

       Abbreviation;Name
0      ATL;Atlanta Hawks
1      BRK;Brooklyn Nets
2      BKN;Brooklyn Nets
3     BOS;Boston Celtics
4  CHA;Charlotte Bobcats

In [31]:
# Clean and separate into columns.
nicknames_data_clean = nicknames_data['Abbreviation;Name'].str.split(
    pat=";",
    expand=True)


nicknames_data_clean = nicknames_data_clean.rename(columns={
    0:"Team(abv.)", 1:"Team"})

nicknames_data_clean = nicknames_data_clean.set_index('Team(abv.)')

nicknames_data_clean.head()

                         Team
Team(abv.)
ATL             Atlanta Hawks
BRK             Brooklyn Nets
BKN             Brooklyn Nets
BOS            Boston Celtics
CHA         Charlotte Bobcats

In [33]:
#Export to file.

nicknames_data_clean.to_csv("Data Mods/Revised Nicknames.csv")